[Desktop Entry]
Categories=Screensaver;
Encoding=UTF-8
Exec=loadsnake
Icon=kscreensaver
Type=Application
TryExec=xscreensaver
Actions=InWindow,Root,Setup;
X-KDE-Category=Visit to Flatland
Name=LoadSnake
Name[ca]=Quadrats Pop
#SUSE-Overwrite Name[cy]=SgwariauPop
Name[de]=Tanzboden
Name[es]=Cuadrados Pop
Name[et]=Hüpikruudud
Name[eu]=Pop karratuak
Name[fr]=Carrés pops
Name[gl]=Cadrados Pop
Name[he]=מלבנים צבעוניים
Name[hi]=पॉपस्क्वेअर्स
Name[hu]=Négyzetek
Name[it]=Il serpentone
Name[ja]=ポップスクウェア
Name[mk]=Скок-квадрати
Name[nb]=Pop-kvadrater
Name[nds]=Popveerecks
Name[nl]=Popvierkanten
Name[nn]=Pop-kvadrat
Name[pl]=Popkwadraty
Name[pt]=Quadrados Pop
Name[pt_BR]=Quadrados Pop
Name[ru]=Цветомузыка
Name[sl]=Kvadrati
Name[sr]=Поп-квадрати
#SUSE-Overwrite Name[sr@Latn]=Pop-kvadrati
Name[sr@Latn]=Поп-квадрати
Name[sv]=Uppdykande fyrkanter
Name[ta]=பிதுங்குசதுரங்கள்
Name[tg]=Гулмусиқӣ
Name[uk]=Світломузика
Name[zh_CN]=跳跳方

X-SuSE-translate=true
[Desktop Action Setup]
Exec=kxsconfig loadsnake
Name=Setup...
Name[af]=Opstelling...
Name[bg]=Настройки...
Name[br]=Kefluniadur ...
Name[bs]=Postavke...
Name[ca]=Arranjament...
Name[cs]=Nastavení...
#SUSE-Overwrite Name[cy]=Gosod ...
Name[da]=Opsætning...
Name[de]=Einrichtung ...
Name[el]=Ρύθμιση...
Name[eo]=Agordo...
Name[es]=Configuración...
#SUSE-Overwrite Name[et]=Seadistamine...
Name[et]=Häälestamine...
Name[eu]=Konfiguratu...
Name[fa]=برپایی
Name[fi]=Asetukset...
Name[fo]=Uppseting...
Name[fr]=Configuration...
Name[ga]=Cumraigh...
Name[gl]=Configuración...
Name[he]=הגדרות...
Name[hi]=सेटअप...
Name[hu]=Beállítás...
Name[is]=Stillingar...
Name[it]=Impostazioni...
Name[ja]=セットアップ...
#SUSE-Overwrite Name[lt]=Sąranka ...
Name[lt]=Sąranka...
Name[lv]=Uzstādīšana...
Name[mk]=Поставување...
Name[ms]=Setkan...
Name[mt]=Konfigurazzjoni...
Name[nb]=Innstillinger ...
Name[nds]=Instellen...
Name[nl]=Instellingen...
Name[nn]=Oppsett ...
Name[nso]=Beakanya...
Name[pa]=ਸੈਟਅੱਪ...
Name[pl]=Ustawienia...
Name[pt]=Configurar...
Name[pt_BR]=Configurar...
Name[ro]=Setează...
Name[ru]=Настройка...
Name[rw]=Iboneza...
Name[sk]=Nastavenie...
Name[sl]=Nastavi ...
Name[sr]=Подеси...
#SUSE-Overwrite Name[sr@Latn]=Podesi...
Name[sr@Latn]=Подеси...
Name[sv]=Inställningar...
Name[ta]=அமைப்பு...
Name[tg]=Барпосозӣ...
Name[th]=ติดตั้ง...
Name[tr]=Kurulum...
Name[uk]=Встановити...
Name[uz]=Ўрнатиш
Name[ven]=Vhekanya...
Name[vi]=Thiết lập...
Name[xh]=Iyacwangciswa...
Name[zh_CN]=设置...
#SUSE-Overwrite Name[zh_TW]=設定...
Name[zh_TW]=安裝...
Name[zu]=Iyalungiselela...

Name[km]=រៀបចំ...
[Desktop Action InWindow]
Exec=kxsrun loadsnake -- -window-id %w
Name=Display in Specified Window
Name[bg]=Стартиране в избран прозорец
Name[br]=Diskwel er prenestr spisaet
Name[bs]=Prikaži u navedenom prozoru
Name[ca]=Mostra a la finestra especificada
Name[cs]=Zobrazit v určeném okně
#SUSE-Overwrite Name[cy]=Dangos mewn Ffenestr Benodol
Name[da]=Visning i angivet vindue
Name[de]=In bestimmten Fenster anzeigen
Name[el]=Προβολή στο καθορισμένο παράθυρο
Name[es]=Mostrar en la ventana especificada
#SUSE-Overwrite Name[et]=Määratud aknas näitamine
Name[et]=Kuva määratud aknas
Name[eu]=Bistaratu zehaztutako lehioan
Name[fa]=نمایش در پنجرۀ مشخص‌شده
Name[fi]=Näytä määrätyssä ikkunassa
Name[fr]=Affichage dans la fenêtre spécifiée
Name[ga]=Taispeáin san Fhuinneog Sonraithe
Name[gl]=Amosar na fiestra indicada
Name[he]=הצג בחלון המצוין
Name[hi]=निर्दिष्ट विंडो में प्रदर्शित करें
Name[hu]=Megjelenítés a megadott ablakban
Name[is]=Birta í völdum glugga
Name[it]=Mostra nella finestra specificata
Name[ja]=特定のウィンドウで表示
Name[lt]=Rodyti nurodytame lange
Name[mk]=Прикажи во наведениот прозорец
Name[ms]=Papar dalam Tetingkap Yang Dinyatakan
Name[nb]=Vis i angitt vindu
Name[nds]=In utsöcht Finster wiesen
Name[nl]=Weergeven In een opgegeven venster
Name[nn]=Vis i oppgjeve vindauge
Name[pa]=ਦੱਸੇ ਝਰੋਖੇ ਵਿੱਚ ਵੇਖਾਓ
Name[pl]=Wyświetl w zadanym oknie
#SUSE-Overwrite Name[pt]=Mostrar na Janela Indicada
Name[pt]=Mostrar em janela especificada
Name[pt_BR]=Mostrar em janela especificada
Name[ro]=Afişează în fereastra specificată
Name[ru]=Показывать в указанном окне
Name[rw]=Kwerekana mu Idirishya Ryihariye
Name[sk]=Zobraziť v zadanom okne
Name[sl]=Prikaz v določenemu oknu
Name[sr]=Прикажи у наведеном прозору
#SUSE-Overwrite Name[sr@Latn]=Prikaži u navedenom prozoru
Name[sr@Latn]=Прикажи у наведеном прозору
Name[sv]=Visa i angivet fönster
Name[ta]=குறித்த சாளரத்தில் காட்டு
Name[tg]=Дар тирезаи нишондода намоиш намоед
Name[tr]=Belirtilen Pencerede Göster
Name[uk]=Відобразити у вказаному вікні
Name[vi]=Hiển thị trong Cửa sổ Đã định
Name[zh_CN]=在指定的窗口中显示
Name[zh_TW]=在指定的視窗中顯示
NoDisplay=true

Name[km]=បង្ហាញ​ក្នុង​បង្អួច​ដែល​បាន​បញ្ជាក់
[Desktop Action Root]
Exec=kxsrun loadsnake -- -root
Name=Display in Root Window
Name[bg]=Стартиране в главния прозорец
Name[br]=Diskwel er prenestr gwrizienn
Name[bs]=Prikaži u korijenskom prozoru
Name[ca]=Mostra a la finestra arrel
Name[cs]=Zobrazit na pozadí plochy
#SUSE-Overwrite Name[cy]=Dangos mewn Ffenestr Wraidd
Name[da]=Visning i root-vindue
Name[de]=In Hintergrundfenster anzeigen
Name[el]=Προβολή στο βασικό παράθυρο
Name[es]=Mostrar en la ventana raíz
#SUSE-Overwrite Name[et]=Juuraknas näitamine
Name[et]=Kuva juuraknas
Name[eu]=Bistaratu erro lehioan
Name[fa]=نمایش در پنجرۀ  ریشه
Name[fi]=Näytä juuri-ikkunassa
Name[fr]=Affichage dans la fenêtre racine
Name[ga]=Taispeáin sa bhFréamhfhuinneog
Name[gl]=Amosar na fiestra raíz
Name[he]=הצג בחלון השורש
Name[hi]=रूट विंडो में प्रदर्शित करें
Name[hu]=Megjelenítés a gyökérablakban
Name[is]=Birta í rótarglugganum
Name[it]=Mostra sullo sfondo
Name[ja]=ルートウィンドウで表示
Name[lt]=Rodyti root lange
Name[mk]=Прикажи во коренскиот прозорец
Name[ms]=Papar dalam Tetingkap Root
Name[nb]=Vis i root-vindu
Name[nds]=In Hööftfinster wiesen
Name[nl]=Weergeven in hoofdvenster
Name[nn]=Vis i rotvindauget
Name[pa]=Root ਝਰੋਖੇ ਵਿੱਚ ਵੇਖਾਓ
Name[pl]=Wyświetl w oknie głównym
#SUSE-Overwrite Name[pt]=Mostrar na Janela de Fundo
Name[pt]=Mostrar na janela raiz
Name[pt_BR]=Mostrar na janela raiz
Name[ro]=Afişează în fereastra rădăcină
Name[ru]=Показывать в корневом окне
Name[rw]=Kwerekana mu Idirishya Umuzi
Name[sk]=Zobraziť v koreňovom okne
Name[sl]=Prikaz v korenskem oknu
Name[sr]=Прикажи у главном (root) прозору
#SUSE-Overwrite Name[sr@Latn]=Prikaži u glavnom (root) prozoru
Name[sr@Latn]=Прикажи у главном (root) прозору
Name[sv]=Visa i rotfönstret
Name[ta]=ஆரம்ப சாளரத்தில் காட்டு
Name[tg]=Дар тирезаи решагӣ намоиш намоед
Name[tr]=Kök Pencerede Göster
Name[uk]=Відобразити в кореневому вікні
Name[vi]=Hiển thị trong Cửa sổ Gốc
Name[zh_CN]=在根窗口中显示
#SUSE-Overwrite Name[zh_TW]=在根視窗中顯示
Name[zh_TW]=在 Root 視窗中顯示
NoDisplay=true


Name[km]=បង្ហាញ​ក្នុង​បង្អួច Root
